html, body {
    font-family: cursive;
    margin: 0;
    padding: 0.1px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    text-decoration: none;
    color: black;
}

li a{
    color: rgb(19, 85, 146)
}

li a:visited{
    color: rgb(19, 85, 146)
}

nav{
    display: flex;
    background-color: rgb(159, 197, 248);
    border: black solid 4px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.navbar {
    padding-right: 20px;
}

nav ul {
    list-style-type: none;
    text-align: right middle;
    display: flex;
}

nav li{
    padding: 5px;
}

article {
    margin: auto 0;
}

article h1 {
    text-align: center;
    font-size: 50px;
}

fieldset {
    border: 0;
}

.feedbackRow {
    display: flex;
    overflow: auto;
}

.labels {
    width: 40%;
    text-align: right;
    margin-right: 30px;
    margin-bottom: 15px;
}

.entries {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lastentries {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

input[type=text], input[type=email]{
    width: 100%;
    height: 100%;
    border: black solid 3px;
    border-radius: 3px;
}

input[type=submit] {
    margin-top: 20px;
    border-radius: 0;
    background-color: white;
    box-shadow: 3px 2px;
}

input[type=submit]:hover{
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 200px;
    border: black solid 3px;
    border-radius: 3px;
    resize: none;
}

footer {
    background-color: rgb(159, 197, 248);
    border: black solid 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
}

.openings {
    text-align: left;
    padding-left: 30px;
}

.review {
    justify-content: center;
    max-width: 20%;
}

.address {
    text-align: left;
    padding-right: 60px;
}

img {
    height: 200px;
    width: 300px;
}

.shoppingcart {
    height: 25px;
    width: 25px;
}

.shoppingcart:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.indexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.indexHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indexHeader img {
    width: 400px;
    height: 300px;
}

.indexButton{
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    background-size: cover;
    border: none;
    color: white;
    font-size: 40px;
    font-family: cursive;
}

#pizzaButton{
    background-image: url("/media/index/pizza.png");
}

#saladButton {
    background-image: url("/media/index/salat.png");
}

#drinkButton {
    background-image: url("/media/index/soft.png");
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px;
}

.row {
    display: flex;
    align-items: flex-end;
}

.productItem1 {
    flex-grow: 20;
    font-size: 20px;
}

select{
    max-width: fit-content;
}

.productItem2 {
    flex-grow: 1;
    text-align: right;
}

.productItem3 {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
}

.content p{
    margin-top: 5px;
    margin-bottom: 0;
}

#cart {
    text-align: right;
    margin: 0;
    padding-right: 10px;
}

.cartContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    margin-top: 10px;
    padding-right: 5%;
}



